.header {
  display: flex;
  align-items: center;
  background: skyblue;
  box-shadow: 0px 10px 10px -5px #8a8888;
}

.header div {
  padding: 1rem;
}
.header p {
  font-size: x-large;
  font-weight: bold;
  color: #388538;
}